table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eef1f7;
}
th{
    background-color: #35475e;
    color: white;
}
