.scrollable{
  height: 530px;
  overflow-y: scroll;

}
table {
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
}
td, th {
  text-align: center;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #eef1f7;
}
th{
    background-color: #35475e;
    color: white;
}
