.App {
  	box-sizing: border-box;
  	font-family: 'Source Sans Pro', sans-serif;
	background-color: #c0c0c0;
}

/*HEADER*/
.App-header {
	position: absolute;
	width: 100%;
	z-index: 3;
	height: 44px;
	background-color: #fff;
    background-color: #2d3d51;
    box-sizing: border-box;
}

.img{
	height: 44px;
	margin-left: -190px;
    font-weight: 700;
	color: white;
}
.profile{
	height: 44px;
	float: right;
    font-weight: 700;
	margin-right: 20px;
	border-radius: 50px;
}
p{
	color: white;
	float: right;
	margin-right: 20px;
}
.logo{
	margin-left: 60px;
}
.App-header .logo {
	float: left;
}
.App-header .logo {
	height: 44px;
	z-index: 1;
	padding: 13px;
	font-weight: 700;
	color: #233245;
}
.logo span {
	margin-left: 5px;
	text-transform: uppercase;
	color: white;
}

/*BODY*/
body {
	margin: 0;
	padding: 0;
}
.side-nav {
	position: fixed;
    width: 20%;
    height: 100%;
	background-color: #35475e;
	z-index: 1;
}
.side-nav ul {
	margin: 0;
	padding: 0;
	margin-top: 90px;
}
.side-nav ul li {
	padding: 20px 16px;
	border-bottom: 2px solid #3c506a;
	position: relative;

}
.side-nav ul li {
	min-width: 20px;
	text-align: center;
	list-style: none;
	
}
.side-nav ul li span{
	color: white;
	text-decoration: none;

}
.main-content {
  position: fixed;
  margin-left: 20%;
  margin-top: 3%;
  width: 80%;
}
.main-content .title {
	background-color: #eef1f7;
	border-bottom: 1px solid #b8bec9;
	padding: 10px 20px;
	font-weight: 700;
	color: #333;
	font-size: 18px;
}
.main {
	display: flex;
	flex-flow: row wrap;
}
.widget {
	flex-basis: 300px;
	flex-grow: 10;
	height: 350px;
	margin: 15px;
	border-radius: 6px;
	background-color: #ffffff;
	position: relative;
}
.widget .title {
	background-color: #eef1f7;
	border-bottom: 1px solid #dfe4ec;
	padding: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #617085;
	font-weight: 600;
}
footer{
    position: fixed;
		width: 100%;
		height: 6%;
		bottom: 0;
		background-color: #2d3d51;
		color: white;
		text-align: center;
	  	padding-left: 9%;
}
.gallery{
	margin: 2% 1%;
}

